---
- name: "Stack | {{ stack.name }} | Ensure target directory exists"
  ansible.builtin.file:
    path: "{{ stack.project_path }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: "Stack | {{ stack.name }} | Template compose.yaml"
  ansible.builtin.copy:
    content: "{{ lookup('template', 'dummy.j2', template_string=stack.compose_content) }}"
    dest: "{{ stack.project_path }}/compose.yaml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
  register: compose_file_result

- name: "Stack | {{ stack.name }} | Template .env file"
  ansible.builtin.copy:
    content: "{{ lookup('template', 'dummy.j2', template_string=stack.env_content) }}"
    dest: "{{ stack.project_path }}/.env"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0600'
  no_log: true
  when: stack.env_content is defined and stack.env_content | length > 0
  register: env_file_result

- name: "Stack | {{ stack.name }} | Deploy docker stack"
  community.docker.docker_compose_v2:
    project_src: "{{ stack.project_path }}"
    state: present
    build: "{{ 'always' if (compose_file_result.changed or (env_file_result.changed | default(false))) else 'policy' }}"