[defaults]
inventory = ./inventory.yml
roles_path = ./roles:./vendor/roles
collections_path = ./vendor/collections
vault_password_file = .vault_pass

forks = 10
pipelining = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become = True
